/* nav-bar */
ul,
li,
a {
  color: black;
  font-size: 20px;
}
nav .navbar {
  margin: 0;
  width: 95%;
}
#sub {
  border: 2px 2px solid green;
  color: white;
}

/* logo */
.conc {
  background: rgba(0, 0, 0, 0.802) url("../assets/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
  height: 580px;
  display: flex;
}
.fod {
  background-color: rgba(0, 0, 0, 0.823);
  padding-top: -1%;
  margin: auto;
  border-radius: 30%;
}
.circular--square {
  border-radius: 50%;
}
#fod {
  text-align: center;
  color: white;
  padding-top: 15%;
}
.sub {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.945);
  background-color: #8a2be2;
  color: white;
}

/* about */
.dab {
  font-family: "Abril Fatface", cursive;
  font-size: 55px;
  text-align: center;
}
.pap {
  background-color: gray;
  border-radius: 10%;
  font-size: 25px;
  text-align: center;
}

/* what we do */
.what-we-do {
  text-align: center;
  padding-top: 40px;
}
#REPORT,
#EMERGENCY,
#EDUCATE{
  display: none;
  /* font-family: Helvetica,Arial,sans-serif; */
  font-size: 16px;
}
.gif{
color: crimson;
}