body {
    font-family: 'Ubuntu', sans-serif;


}

.life {
    background-color: #c4c4c4;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;

}


.life a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.life a:hover {
    color: #f1f1f1;

}

.victim {
    margin-left: 250px;
    padding: 5px;
    min-height: 500px;
    width: auto;
    position: relative;
    overflow-x: hidden;
}

.info {
    width: 1440px;
    height: 300px;
    position: relative;
    background: white;
}

.life>.user {
    text-align: left;
    padding: 10px;

}

.life img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}


form {
    border: 3px solid #f1f1f1;

  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  

  img.avatar {
    width: 25%;
    border-radius: 50%;
  }
  
  
  .container {
    padding: 16px;
    width: 45%;
  }
  

  span.psw {
    float: right;
    padding-top: 16px;
}
  
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .feedback{
      text-align: center;
  }
