body{
    font-family: 'Ubuntu', sans-serif;
}
.life{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;

}
.life a{
    padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.life a:hover{
    color: #f1f1f1;

}