body {
    font-family: 'Ubuntu', sans-serif;


}

.life {
    background-color: #c4c4c4;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;

}


.life a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.life a:hover {
    color: #f1f1f1;

}

.victim {
     /* background-image: url(/assets/_It\ takes\ courage\ to\ hope_\ Dare\ to\ hope\ that\ life\ can\ be\ beautiful\ and\ that\ it\ is\ beautiful\ every\ day._\ -\ from\ _Hope_\ in\ the\ Gardens\ of\ the\ Heart\ series\ by\ Summit\ University\ Press); */
    margin-left: 250px;
    padding: 5px;
    min-height: 500px;
    width:auto;
    position: relative;
    overflow-x: hidden;
    text-align: center;
    margin-top: 20px;

}



.life>.user {
    text-align: left;
    padding: 10px;

}

.life img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}
  
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .feedback{
      text-align: center;
  }
  .common{
      background-color: white;
      padding: 20px;
      
  }
  #userdetail{
    min-height: 30vh;
    margin: 10px auto;
    position: relative;
    padding: 20px;
    background-color: gold;
  }
  #storo{
    min-height:50vh;
    margin: 20px auto;
    position: relative;
    padding:20px ;
    background-color: gray;
  }
